<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yunzhivoice"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <!--<activity-->
            <!--android:name="com.example.yunzhivoice.ASROnlineActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/titleBar" >-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name="com.example.yunzhivoice.SettingActivity"-->
            <!--android:screenOrientation="portrait" >-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name="com.example.yunzhivoice.UploadDataActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >-->
        <!--</activity>-->

        <activity android:name=".TestMainActivity">

        </activity>

        <activity android:name="com.example.addoiloperator.TCPServiceTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.addoiloperator.TestCarPositionActivity" android:launchMode="singleTask">
        </activity>

        <service android:name="com.example.addoiloperator.MeachineService">
        </service>

    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
<!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
</manifest>